@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  transition: all 0.4s;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}
header {
  background-color: #fff8f0;
  height: 100vh;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.content nav ul li {
  display: inline-block;
}
.content nav ul li a {
  text-decoration: none;
  padding: 15px;
  color: #343f52;
  font-weight: bold;
}

.content nav ul li a:hover {
  color: #fab758;
}
.content nav ul li:nth-child(7) a {
  padding-left: 90px;
}
.content nav {
  padding-right: 110px;
}
.content-image {
  display: flex;
  margin-top: 80px;
}
.content-image .content-alt img {
  padding-top: 70px;
  padding-left: 75px;
  width: 560px;
}
.content-image .content-title {
  padding-left: 80px;
}

.content-image .content-title h1 {
  font-size: 40px;
  width: 70%;
  padding-bottom: 45px;
}
.content-image .content-title p {
  padding-bottom: 45px;
  color: #60697b;
  font-size: 25px;
  width: 90%;
  line-height: 1.7em;
  padding-bottom: 45px;
}
.content-image .content-title button {
  padding: 20px 30px;
  border: none;
  border-radius: 45px;
  color: #fff;
  cursor: pointer;
  background-color: #fab758;
  font-weight: bold;
  font-size: 15px;
}
.content-image .content-title button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scaleY(1.04);
}
.content button {
  display: none;
}

@media screen and ((max-width: 474px)) {
  .content button {
    display: block;
  }
  .menu {
    display: none;
  }
  .content button:hover + .menu {
    display: block;
  }
}
